@import "tailwindcss";
/* optional: smooth color transitions
:root { color-scheme: light; }
.dark { color-scheme: dark; } */

/* small helpers */
html, body, #__next {
  height: 100%;
}




@theme {
  --color-scheme: class;
}